body{
  background-image: url(https://c.wallhere.com/photos/7a/16/Avatar_The_Last_Airbender-43530.png!d);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  margin: 0; 
  height: 100vh;
  overflow: auto
}

h1{
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
}

h2{
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
}

img{
  border-radius: 5px;
}

button{
  background-color: rgba(32, 35, 41, .8);
  margin: 5px;
  border-radius: 5px;
  color: wheat;
  border-color: wheat;
  cursor: pointer;
}

.buttons-select-player{
  display: flex;
  width: 100%;
  justify-content: center;
}

.container-wrapper {
  display: flex;
}

.container-images-player {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-images-pc {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.render-images-player{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.render-images-pc{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.container-button-combat{
  display: flex;
  width: 100%;
  justify-content: center;
}
.container-combat{
  display: flex;
  justify-content: space-around
}

.atack-player, .atack-pc{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

.health-bar {
  height: 20px;
  background-color: #4caf50; /* Color verde para la barra de salud */
  transition: width 0.5s; /* Animación de transición */
  border-radius: 5px;
}

.container-images-atack{
  margin-top: 10px;
}

.container-buttons-atacks{
  display: flex;
  flex-direction: column
}

.container-message-final{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



